img{
    width: 100%;
}
header{
    height: 15vh;
    padding-top: 40px;
    margin-left: 10px;
}
.card-footer .btn{
    float: right;
}
img{
    border: 1px solid rgb(184, 182, 182);
    border-radius: 8px;
    margin-bottom: 5px;
}
.card-header{
    font-weight: bold;
    
}

.piciKep{
    max-height: 60px;
    max-width: max-content;
}

.admSor{
    border: 1px solid;
    border-color: rgb(190, 190, 190);
}